@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

/* ===================== */
/* FONTS*/
/* ===================== */

@font-face {
    font-family: "Frunchy Sage";
    src: url("/fonts/frunchy_sage/frunchy.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Frunchy Sage";
    src: url("/fonts/frunchy_sage/frunchy.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    /* ===================== */
    /* Colors */
    /* ===================== */
    --color-primary: #04163c;
    --color-secondary: #e3deda;
    --color-white: #ffffff;

    /* Text */
    --color-black: #000000;

    /* ===================== */
    /* Font sizes */
    /* ===================== */
    --font-size-md: 1rem; /* 16px */
    --font-size-lg: 1.25rem; /* 20px 20/16 = 1.25rem */
    --font-size-xl: 3rem; /* 48px 48/16 = 3rem */
}

/* ===================== */
/* RESET GLOBAL */
/* ===================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ===================== */
/* HEADER */
/* ===================== */
header.home {
    background-color: var(--color-primary);
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    position: relative;
}

/* LOGO AVENTURA */
.center {
    display: flex;
    justify-content: center;
}

.logo {
    width: clamp(200px, 12vw, 250px);
    height: auto;
}

/* MENU BURGER */
.right {
    display: flex;
    justify-content: center;
}

.burger {
    width: 50%;
    cursor: pointer;
    display: block; /* visible on mobile */
}

/* MENU BURGER MOBILE - hidden by default */
header.home nav {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-primary);
    backdrop-filter: blur(5px);
    border-radius: 18px;
    padding: 1rem 0;
    z-index: 1000;

    /* invisible by default  */
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
}

/* Menu visible when .show class is added */
header.home nav.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, 0);
}

/* MENU ITEMS */
header.home nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    width: 100%;
}
/* Customize the links  */
header.home nav li a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: bold;
    font-size: var(--font-size-lg);
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: center;
    transition:
        background-color 0.2s,
        color 0.2s;
}

/* style for active link */
header.home nav li a.active {
    background-color: var(--color-white);
    color: var(--color-primary);
}

/* ===================== */
/* MAIN CONTENT */
/* ===================== */

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* ===================== */
/* Section Presentation*/
/* ===================== */

.presentation {
    width: 100%;
    height: 22.6vh;
    background-size: cover;
    background-position: 20% 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.presentation h1 {
    color: var(--color-white);
    font-size: var(--font-size-xl);
    font-family: "Frunchy Sage", cursive;
}

/* ===================== */
/* Section Content*/
/* ===================== */

.content {
    width: 100%;
    text-align: center;
    padding: 5% 2%;
    background-color: var(--color-secondary);
}
