@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

/* ===================== */
/* FONTS*/
/* ===================== */

@font-face {
    font-family: "Frunchy Sage";
    src: url("/fonts/frunchy_sage/frunchy.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Frunchy Sage";
    src: url("/fonts/frunchy_sage/frunchy.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    /* ===================== */
    /* Colors */
    /* ===================== */
    --color-primary: #04163c;
    --color-secondary: #f0e6e4;
    --color-tertiary: #3980ac;
    --color-white: #ffffff;

    /* Text */
    --color-black: #000000;

    /* ===================== */
    /* Font sizes */
    /* ===================== */
    --font-size-md: 1.25rem; /* 20px 20/16 = 1.25rem */
    --font-size-lg: 2rem; /* 32px 32/16 = 2rem */
    --font-size-xl: 3rem; /* 48px 48/16 = 3rem */
}

/* ===================== */
/* TITRES PRINCIPAUX */
/* ===================== */
.title-primary {
    font-family: "Frunchy Sage", cursive;
    font-size: var(--font-size-xl);
    font-weight: 400;
    color: var(--color-white);
}

.title-secondary {
    display: flex;
    justify-content: center;
    font-family: "Frunchy Sage", cursive;
    font-size: var(--font-size-lg);
    font-weight: 400;
    color: var(--color-primary);
}

.title-tertiary {
    font-family: "Instrument Sans", ui-sans-serif, system-ui, sans-serif;
    font-size: var(--font-size-md);
    font-weight: 600;
    color: var(--color-primary);
    margin-bottom: 0.75rem;
}

/* ===================== */
/* RESET GLOBAL */
/* ===================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===================== */
/* BODY */
/* ===================== */

/* Customer cant scroll when menu is open  */
body.menu-open {
    overflow: hidden;
}

/* ===================== */
/* HEADER */
/* ===================== */
header.home {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    position: relative;
    background-color: var(--color-primary);
}

/* LOGO AVENTURA */
.center a img {
    width: clamp(150px, 25vw, 200px);
    height: auto;
    display: block;
    margin: 0 auto;
}
.logo {
    width: clamp(200px, 12vw, 250px);
    height: auto;
}

/* MENU BURGER */
.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger {
    width: 4rem;
    cursor: pointer;
    display: block;
}

.burger-close {
    width: 4rem;
    display: none; /* visible when menu is open */
}

/* MENU BURGER MOBILE - hidden by default */

header.home nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    display: none;
    flex-direction: column;
    align-items: center;

    background-color: rgba(33, 150, 243, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 1rem 0;

    z-index: 2000;
}

/* Menu visible when .show class is added */
header.home nav.show {
    display: flex;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

header.home nav ul,
header.home nav li,
header.home nav a {
    outline: none;
}

/* MENU ITEMS */
header.home nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    width: 100%;
}
/* Customize the links  */
header.home nav li a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: bold;
    font-size: var(--font-size-lg);
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: center;
    transition:
        background-color 0.2s,
        color 0.2s;
}

/* style for active link */
header.home nav li a.active {
    background-color: var(--color-white);
    color: var(--color-primary);
}

/* ===================== */
/* MENU OVERLAY */
/* ===================== */

.menu-overlay {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.2);

    /* overlay invisiblze by default */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 900;
}

/* Overlay visible when menu is open */
body.menu-open .menu-overlay {
    opacity: 1;
    visibility: visible;
}

/* ===================== */
/* MAIN CONTENT */
/* ===================== */

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* ===================== */
/* Section Presentation*/
/* ===================== */

.presentation {
    width: 100%;
    height: 22.6vh;
    background-size: cover;
    background-position: 20% 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

/* ===================== */
/* Section Content*/
/* ===================== */

.content {
    width: 100%;
    text-align: center;
    padding: 5% 4%;
    background-color: var(--color-secondary);
    margin-bottom: 15%;
}

.content p {
    font-family: "Instrument Sans", ui-sans-serif, system-ui, sans-serif;
    font-size: var(--font-size-md);
    margin: 0 auto 1.25rem auto;
}

/* ===================== */
/* Section Carousel */
/* ===================== */

.carousel-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10%;
}

.carousel-wrapper h2 {
    background-color: var(--color-secondary);
}

/* Slide inside the track  */
.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

/* flow layout for each slide */
.carousel-slide {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

/* dimension for images inside slides  */
.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-prev,
.carousel-next {
    display: none; /* hidden by default */
}

/* ===================== */
/* Footer */
/* ===================== */

.footer {
    padding: 3rem 5%;
    background: linear-gradient(180deg, #ffffff, #04163c);
}

/* Conteneur centré */
.footer-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

/* Logo */
.footer-brand img {
    width: 40%;
    max-width: 250px;
    height: auto;
    margin-bottom: 2rem;
}

/* Social Networks */
.footer-social {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

/* Social Buttons */
.footer-social a {
    width: 3.2rem;
    height: 3.2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);

    transition:
        transform 0.25s ease,
        background 0.3s ease,
        box-shadow 0.3s ease;
}

/* Icônes */
.footer-social img,
.footer-social i {
    width: 1.4rem;
    height: 1.4rem;
    object-fit: contain;
}

/* Hover */
.footer-social a:hover {
    background: white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

a svg {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
    transition: fill 0.3s;
    color: #000000;
}

/*Gradient for Instagram */
a.instagram:hover svg .insta-path {
    fill: url(#instaGradient);
}

a.linkedin:hover svg path {
    fill: #005582;
}

a.youtube:hover svg path {
    fill: #f9170b;
}

/* Copyright */
.footer-copy {
    font-size: var(--font-size-md);
    color: white;
}

/* ===================== */
/* Screan ≥ 768px */
/* ===================== */
@media (min-width: 768px) {
    /* ===================== */
    /* HEADER */
    /* ===================== */
    header.home .right {
        display: none;
    }

    /* NAVIGATION SOUS LE LOGO */
    header.home nav {
        position: static;
        transform: none;
        display: flex;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        background: transparent;
        backdrop-filter: none;
        padding: 1rem 0 0 0;
        grid-column: 1 / -1; /* prend toute la largeur */
        justify-content: center;
    }

    header.home nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    header.home nav li a {
        font-size: var(--font-size-md);
        padding: 0.5rem 0;
    }

    /* On enlève l’overlay */
    .menu-overlay {
        display: none;
    }

    /* ===================== */
    /* PRESENTATION */
    /* ===================== */

    .presentation {
        height: 35vh;
        background-position: center;
    }

    /* ===================== */
    /* CONTENT */
    /* ===================== */

    .content {
        padding: 4% 10%;
    }

    .content p {
        max-width: 700px;
    }

    /* ===================== */
    /* CAROUSEL */
    /* ===================== */

    .carousel-prev,
    .carousel-next {
        display: block;
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        background: rgba(4, 22, 60, 0.7);
        color: white;
        border: none;
        font-size: 2rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
        z-index: 10;
    }

    .carousel-prev {
        left: 1rem;
    }

    .carousel-next {
        right: 1rem;
    }

    .carousel-slide img {
        max-height: 500px;
    }

    /* ===================== */
    /* FOOTER */
    /* ===================== */

    .footer-brand img {
        width: 200px;
    }

    .footer-container {
        width: 70%;
    }
}
